<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="./book.css">
	</head>
	<body>
		<div class="header">
			<div class="navheader"><%= title %></div>
			<div class="nav">
				<div class="link">小说文学</div>
				<div class="link">历史传记</div>
				<div class="link">人文社科</div>
				<div class="link">励志成功</div>
				<div class="link">经济管理</div>
				<div class="link">学习教育</div>
				<div class="link">生活时尚</div>
				<div class="link">英文原版</div>
				<div class="search">
					<input type="text" name="" id="">
					<button type="button">
						<span>搜索</span>
					</button>
				</div>
			</div>
		</div>
	    <div class="content">
			<div class="main">
			<% for(let i = 0;i < arr.length;i++){ %>
					<div class="box"> 
						<img src="<%= arr[i].bookimg %>" alt="图片"> 
						<p style="font-weight: 600;"><%= arr[i].bookname %></p> 
						<span><%= arr[i].author %></span> 
					</div> 
			<%	} %>
			</div>
			<div class="gg">广告</div>
		</div>
	</body>
	<script type="text/javascript" src="./book.js"></script>
</html>
